
p{
    width: 80% !important;
    text-align: justify;
}

hr {
    width: 80%;
    text-align: left;
    margin-left: 0;
    border:1px black;
}

.class-blue{
    color: aquamarine !important;
}

#article {
    background-color: beige;
}

#Contact{
    margin-bottom: 32px;
    background-color: bisque;
}

#Contact p{
    text-align: center;
    color: black;
}

